:root {
	/* Variables */
	--main-font: Baumans;
	--dark: #212121;
	--darker: #1c1811;
	--darkest: #0b0700;
	--dark-trans: #212121cc;
	--darker-trans: #1c1811cc;
	--darkest-trans: #0b0700cc;
	--light: #f2f3f4;
	--lighter: #fafbfc;
	--lightest: #ffffff;
	--light-trans: #f2f3f4cc;
	--lighter-trans: #fafbfccc;
	--lightest-trans: #ffffffcc;
	--highlight: #ff8800;
	--highlight-trans: #ff8800cc;
	--warning: #ff0000;
	--warning-trans: #ff0000cc;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
