.dash {
	grid-area: main;
	background-color: var(--light);
	background-image: url('./dash-background.jpg');
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.dash-menu {
	min-width: 800px;
	min-height: 600px;
	padding: 2.5em 3em 2em;
	display: grid;
	grid-template-rows: auto auto 1fr auto;
	grid-template-areas:
		"title"
		"username"
		"display"
		"buttons";
	background-color: var(--darkest-trans);
	color: var(--light);
	box-shadow: 4px 4px 4px var(--darkest);

	&__title {
		grid-area: title;
		margin-bottom: 0.5em;
		padding: 0.5em;
		cursor: default;
		background-color: var(--dark);
		color: var(--light);
		border-bottom: 3px solid var(--darkest);
		border-right: 3px solid var(--darkest);
		border-top: 2px solid var(--lightest);
		border-left: 2px solid var(--lightest);
		font-family: var(--main-font);
		font-size: 2.25rem;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
	
	&__username {
		grid-area: username;
		margin: 0.5em;
		padding: 0.25em;
		cursor: default;
		background-color: var(--dark);
		border-bottom: 3px solid var(--darkest);
		border-right: 3px solid var(--darkest);
		border-top: 2px solid var(--lightest);
		border-left: 2px solid var(--lightest);
		font-size: 1.5rem;
	}

	&__display {
		grid-area: display;
	}

	&__btns {
		grid-area: buttons;
		margin-top: auto;
		display: flex;
		justify-content: space-evenly;
	}

	&__link {
		margin: 0.5em;
		padding: 0.5em;
		cursor: pointer;
		background-image: linear-gradient(var(--dark), var(--darkest));
		color: var(--light);
		border-top: 2px solid var(--lightest);
		border-left: 2px solid var(--lightest);
		border-bottom: 2px solid var(--darkest);
		border-right: 2px solid var(--darkest);
		font-family: var(--main-font);
		font-size: 1.75rem;
		
		&:hover {
			background-image: radial-gradient(var(--dark), var(--darkest));
		}
		&:focus {
			color: var(--highlight);
			background-image: radial-gradient(var(--dark), var(--darkest));
		}
		&--active {
			color: var(--highlight);
			background-image: radial-gradient(var(--dark), var(--darkest));
			border-top: 2px solid var(--darkest);
			border-left: 2px solid var(--darkest);
			border-bottom: 3px solid var(--lightest);
			border-right: 3px solid var(--lightest);
		}
	}
}
