.auth-form {
	flex: 2;
	min-height: 369px;
	display: flex;
	flex-direction: column;
	padding: 2em;
	background-color: var(--dark);

	&__title {
		margin-bottom: 1em;
		cursor: default;
		color: var(--light);
		font-size: 2rem;
		text-align: center;
	}

	&__input {
		padding: 0.5em;
		font-size: 1.5rem;
	}
	
	&__submit {
		margin-top: auto;
		padding: 0.5em;
		cursor: pointer;
		font-size: 1.5rem;
	}
}
