.App {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-areas:
		"header"
		"main"
		"footer";
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
	grid-area: header;
	padding: 1em;
	background-color: var(--darker);
	text-align: center;
	user-select: none;

	&__title {
		color: var(--light);
		cursor: default;
	}
	
	&__subtitle {
		color: var(--light);
		cursor: default;
	}
}

.footer {
	grid-area: footer;
	padding: 1em;
	background-color: var(--darker);
	text-align: center;

	&__copyright {
		color: var(--light);
		cursor: default;
		user-select: none;
	}
	
	&__link {
		text-decoration: none;
		color: var(--light);

		&:hover {
			text-decoration: underline;
		}
	}
}
