.tab-bar {
	width: 100%;
	margin-bottom: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__tab {
		width: 50%;
		padding: 1rem 3rem;
		cursor: pointer;
		background-color: var(--dark-trans);
		color: var(--light);
		font-family: var(--main-font);
		font-size: 1.5rem;
		text-align: center;
	}

	&__tab--active {
		background-color: rgba(33, 33, 33, 0);
	}
}
