.header {
	grid-area: header;
	padding: 2em;
	background-color: var(--darker);
	text-align: center;

	&__title {
		color: var(--light);
		cursor: default;
	}
	
	&__subtitle {
		color: var(--light);
		cursor: default;
	}
}
